.loginContainer{
    height:100vh;
    background: linear-gradient(90deg, rgba(109,238,164,1) 35%, rgba(167,127,233,1) 100%);


    font-family: 'Merriweather Sans', sans-serif;

    display:grid;
    justify-content:center;
    align-content:center;  

    color:white;
}

.sectionLogin{
    padding:2rem;
    border-radius: 5px;
    width: 100%;
    background: darken( #a87fe962, 50%);
        
    input{
        color:white;
        margin-top: 0.5rem;

        & + input{
            margin-bottom: 0.5rem;
        }
    }
    input:focus{
        color:white;
    }
}

.boxLogin{
    width: 100%;

    display:grid;
    align-content:center;
}