.loginContainer{
    background: url('../../../public/background.jpg') no-repeat center;
    background-size: cover;
    height:100vh;

    font-family: 'Merriweather Sans', sans-serif;

    display:grid;
    justify-content:center;
    align-content:center;  

    color:white;
}

.sectionLogin{
    padding:2rem;
    background: #1a2e34ee;
    border-radius: 5px;
    width: 30rem;
        
    input{
        color:#373737;
        margin-top: 0.5rem;

        & + input{
            margin-bottom: 0.5rem;
        }
    }
    input:focus{
        color:white;
    }
}

.boxLogin{
    width: 100%;

    display:grid;
    align-content:center;
}