.loginContainer{
    height:100vh;
    background: var(--dark-blue);


    font-family: 'Merriweather Sans', sans-serif;

    display:grid;
    justify-content:center;
    align-content:center;  

    color:white;
}

.sectionLogin{
    padding:1.5rem;
    border-radius: 5px;
    width: 400px;
    //background:var(--dark-blue);
    transition: 0.3s ease-in-out;

	h2{
		font-family: 'Bebas Neue', cursive;
		color:  var(--orange);
		letter-spacing: 2px;
	}
        
    input{
        color:white;
        margin-top: 0.5rem;

        & + input{
            margin-bottom: 0.5rem;
        }
    }
    input:focus{
        color:white;
    }

}

.boxLogin{
    margin-top: 1rem;
    width: 100%;

    display:grid;
    align-content:center;

	button{
		margin-top: 1rem;
		background: var(--orange);
	}
}