*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
@media(max-width: 1080px){
  html{
    font-size: 93.75%;
  }
}
@media(max-width: 720px){
  html{
    font-size: 87.5%;
  }
}
body, input, textarea, button{
  font-family: 'Inter', sans-serif;
  color: var(--gray-500);
}
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--gray-800);
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
}
button{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style-type: none;
}
body{
  min-width: 274px;
  background:rgb(187, 84, 96);
  
  min-height: 471px;

}
.page{
  height:100vh;
  //min-height: 100%;

  @media (min-width:350px) {
    height:100vh;
    min-height: 100%;
  }
}
.header{
  height: 9vh;
  min-height: 50px;
}
.content{

 /* height:100vh;
  max-height: 100%;*/

  @media (min-height:350px) {
    //border: 5px solid lime;
    height: 91%;
    max-height: 100%;
  }
}
