@import './themes/index.scss';

.container{
  .checkBoxComponent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    svg{
      margin-right: 5px;
    }
    @media (max-width:434px) {
        &{
          align-items: center;
          justify-content: center;
          margin-bottom: 1rem;
        }
    }
  }

  transition: 0.2s color,background;
  @include themify('background', 'first');
  @include themify('color', 'second');
  min-height: 100vh;
  height: 100%;
  padding: 4rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  
  .me{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap:1rem;

    div{
      display: flex;
      flex-wrap: wrap;
      @media (max-width:434px) {
        strong + strong{
          margin-top: 8px;
        }
      }

      strong{
        color:#FBF5F3;
        @include themify('background', 'fourth');
        padding: 4px;
        border-radius: 5px;

        & + strong{
          margin-left: 8px;
        }
      }
    }

    h2{
      text-align: center;
      @include themify('color', 'fourth');
    }
    span{
      display: flex;
      justify-content: center;
      border-radius: 10px;
      p{
        max-width:80%;
        min-width:40%;
        margin: 0 2rem 0 2rem;
        text-align: center;

        font-size: 1.1rem;
        line-height: 1.5rem;
        @media (max-width:434px) {
        &{
          text-align: justify;
        }
      }
      }
    }
    img{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      @media (max-width:434px) {
        &{
          width: 100px;
          height: 100px;
        }
    }
    }
  }
  
  .socialNetwork{
    margin-top:20px;
    flex:1;
    display: flex;
    justify-content: center;

    
    @media (max-width:434px) {
      display: flex;
      flex-direction: column;
      align-items: center;

      strong + strong{
        margin-top: 8px;
      }
    }

    strong{
      transition: 0.2s color;
      & + strong{
        margin-left: 20px;
      }
    }

    svg{
      margin-right: 5px;
      vertical-align: middle;
      transition: 0.2s color;
    }

    svg:hover, strong:hover{
     @include themify('color', 'third');
      cursor: pointer;
    }

    
  }
  
}