
.container{
  .checkBoxComponent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    svg{
      margin-right: 5px;
      margin-left: auto;
    }
  }


  background: var(--background);
  color: var(--text);
  min-height: 100vh;
  height: 100%;
  padding: 4rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  
  .me{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap:1rem;

    h2{
      text-align: center;
    }
    span{
      display: flex;
      justify-content: center;
      p{
        max-width:70%;
        min-width:30%;
        margin: 0 2rem 0 2rem;
        text-align: center;

        font-size: 1.1rem;
        line-height: 1.5rem;
      }
    }
    img{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 8px solid var(--text);
    }
  }
  
  .socialNetwork{
    margin-top:20px;
    flex:1;
    display: flex;
    justify-content: center;

    strong{
      transition: 0.2s color;
    }

    svg{
      margin-right: 5px;
      vertical-align: middle;
      transition: 0.2s color;
    }

    svg:hover, strong:hover{
      color: var(--hover);
      cursor: pointer;
    }

    strong + strong{
      margin-left: 20px;
    }
  }
  
}