@import '../../styles/themes/index.scss';

.headerContainer{
  @include themify('background', 'main');
  transition: 0.9s background-color; 

  @include themify('color', 'text');

  display: flex;
  align-items: center;
  justify-content: flex-end;

  
  font-weight: 600;
  font-family: 'Merriweather Sans', sans-serif;

  >div{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: space-around;

    a:hover{
      @include themify('color', 'secondary');
    }
  }

  .checkBoxComponent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    svg{
      margin-right: 5px;
    }
    @media (max-width:434px) {
      &{
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
      }
    }
  }
}