.dashboardContainer{
    background: #001A24;
    min-height:100vh;
    padding:1rem;
	padding-bottom:0;
}
.header{
    padding:1rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    h1{
		color: var(--orange);
		font-family: 'Caveat', cursive;
		font-size: 2rem;
    }
}

.header button{
    margin-right: 1rem;
}

.wrapperContent{
    padding:1rem;
	padding-bottom:0;
    height: 90.9%;
    
    display: flex;
    flex-direction: row;
}

.listSection{
    padding:1rem;
}
.list{
    color:#fff;

    li{
        transition: all ease-in-out 0.2s;
        &::marker{
            color:#d6d6d6;
            transition: all ease-in-out 0.2s;
        }
		&::marker{
			font-size: 25px;
		}
        &:hover{
            &::marker{
                color:var(--orange);
            }
        }
    
    }
}

.tags{
	padding: 1rem;
}
.wrappertags{
	padding: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.tag{
	margin: 2px 5px;
	padding: 0.5rem;
	background: var(--orange);
}

.groupAddTag{
	width: 100%;
	display: flex;
	align-items: center;

	button{
		margin-left: 1rem;
		width: 100px;
		background: #04b65d;
		&:hover{
			background: var(--green-100);
		}
	}
}

.errorStyle{
	color: red;
}

.groupProfile{
	width: 100%;
	
	display: flex;
	flex-direction: column;

	input + input{
		margin: 5px 0;
	}

	h2{
		color: var(--orange);
		font-family: 'Caveat', cursive;
		font-size: 2.2rem;

		margin: 1rem 0;
	}
	
	.pageTitle{
		color: var(--green);
		font-family: 'Bebas Neue', cursive;
		font-weight: 400;
		font-size: 3rem;
		text-align: center;
	}
	
	.inputGroupProfile {
		display: flex;
		flex-direction: column;
		
		padding: 1rem;
	}
	
	>button{
		margin-top: 1rem;
		background: var(--green);

		&:hover{
			background: var(--green-100);
		}
	}
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.saveAlert{
	width: 100%;
	background: var(--yellow);
	text-align: center;
	padding: .5rem;
	border-radius: 5px;
}

.footer{
	margin-top: 1rem;
	width: 100%;
	color:#fff;
	padding: 1rem;
	display: flex;
	justify-content: center;

	small{
		display: flex;
		align-items: center;

		svg{
			font-size: 1.5rem;
			margin-right: 5px;
		}
		
		&:hover{
			color: var(--green-100);
		}
	}
}