@import '../../styles/themes/index.scss';

.projectsContainer{
  @include themify('color', 'text');
  @include themify('background', 'main');
  transition: 0.9s background-color;
  height: 100%;
  max-height: 100%;
}