@import '../../styles/themes/index.scss';

.projectsContainer{
  @include themify('color', 'text-header');
  background: url('../../../public/bg.jpeg') no-repeat center;
  transition: 0.9s background-color;
  height: 100%;
  max-height: 100%;
  padding-top: 10px;

  
  section{
    max-height: 100%;
    padding: 5px;
    overflow: auto;
  
    //border:3px solid lime;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    
    .repository{
      cursor: pointer;
      border: 1px solid;
      @include themify('border-color', 'text');
      @include themify('background', 'second');
      @include themify('color', 'text');
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      margin-left: 10px;

      display:flex;
      justify-content: space-between;

      width: 50%;

      padding:10px;
      border-radius: 5px;
      & + .repository{
        margin-top: 10px;
      }

      &:hover{
        transition: transform 0.3s;
        transform: translateX(10px);
      }


      @media(max-width: 960px){
        flex-direction: column-reverse;
        align-items: center;
      }

      .repoInfo{
        width: 70%;

        h3{
          margin-bottom: 8px;
        }
        p{
          text-align: justify;
          margin-top: 5px;
        }
      }
      .repoTopics{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        flex:1;

        @media(max-width: 960px){
          &{
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: row;

            margin-bottom: 10px;
          }
        }

        span{
          padding:1px 5px;
          border-radius: 5px;

          &:nth-child(odd){
            @include themify('background', 'aux-first');
            @include themify('color', 'text');

            margin-right: 30px;
          }
          &:nth-child(even){
            @include themify('background', 'aux-secondary');
            @include themify('color', 'text');

            margin-left: 30px;
          }
        }

        span + span{
          margin-top: 2px;
        }
      }
    }
  }

}