@import './themes/index.scss';

.containerHome{
	height: 100vh;
	
	display: grid;
	justify-content: center;
	
	/* @media(min-width: 1080px){
		border: 5px solid lime;
		height: 100vh;
		
		.content{
			border: 3px dashed blueviolet;
		}
	}
	@media(max-width: 720px){
		border: 3px solid orange;
		height: 100vh;

		.content{
			border: 3px dashed red;
		}

	} */
	
}
.header{
	height: 4.5rem;
}

.content{
	background:var(--dark-blue);
	position:absolute;
	margin-top: 4.5rem;
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	.contentWrapper{
		padding: 1rem;
		color: var(--white);
		
		width: 40%;

		@media (max-width: 1000px) {
			width: 100%;
		}

		.tag{
			background: var(--black-200);
			color: var(--white);
			padding: 1rem;
			border-radius: 10px;
	
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			
			box-shadow: 5px 10px  5px rgba( #000000, .3);
	
			& + .tag{
				margin:.5rem 0;
			}
		}
	
		.headerMe{
			margin-top: 2rem;

			display: flex;
			align-items: center;
			justify-content: space-between;

			@media (max-width: 1000px) {
				flex-direction: column;

				span{
					margin-bottom: 1rem;
				}
			}
			
			h1{
				font-weight: bolder;
				font-size: 2rem;
				font-family: 'Bebas Neue', cursive;
				letter-spacing: 1px;
			}
		}

		.more{
			margin-top: 1rem;
			color: var(--white);

			section{
				padding: 1rem 0;

				h1{
					font-size: 1.2rem;
					font-weight: bold;
					margin-bottom: 1rem;
				}
			}
		}

		.titleSection{
			text-decoration: underline;
			font-family: 'Caveat', cursive;
			font-size: 1.5rem !important;
			color: var(--green);
		}
	}

}

.tagsSkills{
	padding-right: 1rem;

	.tagSkill{
		margin:2px;
		background: var(--green);
	}
}
