@import './themes/index.scss';

.containerHome{
  background: rgba(0,0,0,.6);  
  height: 90vh;
  font-family: 'Merriweather Sans', sans-serif;

  display: grid;
  grid-template-areas: 
    'myphoto'
    'presentation'
  ;
}

.myPhoto{
  grid-area: 'myphoto';

  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.photo{
  border-radius: 100px;
  height: 240px;
}

.presentation{
  grid-area: 'presentation';

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color:rgb(221, 221, 221);
}
.name{
  color: #ffb340;
}
.office{
  color:rgb(221, 221, 221);
}