@import '../../styles/themes/index.scss';

.headerContainer{
  background: rgba(0,0,0,.6);
  color:white;
  
  font-weight: 600;
  font-family: 'Merriweather Sans', sans-serif;
  padding:1rem;
  align-items: center;

  display: flex;


  .checkBoxComponent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    svg{
      margin-right: 5px;
    }
    @media (max-width:434px) {
      &{
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
      }
    }
  }
}
.popoverContent{
  color:rgb(34, 34, 34);
}

.linksTabs{ 

    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    p+p{
      margin-left:2rem;
    }

    p{
      transition:  ease-in .3s;
    }
    
    p:hover{
      transition:  ease-out .3s;

      background: lighten(#ffb340,5%);
      color:#343434;

      padding:0.5rem;
      border-radius: 5px;
    }
}

.menuHamburger + h1{
    margin: 0 10px;
}

.menuList{
  color:#343434;
}