@import '../../styles/themes/index.scss';

.headerContainer{
  background: rgba(0,0,0,.4);
  color:#dddddd;
  
  font-weight: 600;
  font-family: 'Merriweather Sans', sans-serif;
  padding:0.5rem;

  display: flex;


  .checkBoxComponent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    svg{
      margin-right: 5px;
    }
    @media (max-width:434px) {
      &{
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
      }
    }
  }
}
.popoverContent{
  color:rgb(34, 34, 34);
}

.linksTabs{ 

    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    p+p{
      margin-left:2rem;
    }

    p{
      transition:  ease-in .3s;
    }
    
    p:hover{
      transition:  ease-out .3s;

      background: lighten(#ffb340,5%);
      color:#343434;

      padding:0.5rem;
      border-radius: 5px;
    }
}

.neonLink{
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 5px;

  animation: blinker 2s infinite;
}
.neonLink:hover{
  box-shadow: 0 0 10px #ffb340;
}
@keyframes blinker {
  from { 
     box-shadow: 0 0 10px rgba(255, 179, 64,0);
    transition: 2s;
  }
  to {
    transition: 2s;
    box-shadow: 0 0 10px rgba(255, 179, 64,1);
  }
}