@import '../../styles/themes/index.scss';

.headerContainer{
  color:white;
  
  font-weight: 600;

  font-family: sans-serif;
  padding:1rem;
  align-items: center;

  display: flex;


  .checkBoxComponent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    svg{
      margin-right: 5px;
    }
    @media (max-width:434px) {
      &{
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
      }
    }
  }
}

.mark{
  font-size: 1.3rem;
  font-family: 'Source Sans Pro', sans-serif
}


.popoverContent{
  color: white;
  border: none;
  background:rgb(55, 60, 63);
  padding: 2rem;
  border-radius: 0.5rem;

  .popoverHeader{
    margin: 0 auto;
  }

  .popoverBody{
    .listSection{
      margin-top: 1rem;

       span{
         background: inherit;
         padding:.5rem;

         display: flex;
         align-items: center;

         p{
           margin-left: 0.5rem;
         }

         & + span{
          margin-top: .5rem;
         }

         &:hover{
           cursor: pointer;
           filter: brightness(0.8);
         }
       }
    }
  }


}

.linksTabs{ 

    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    p+p{
      margin-left:2rem;
    }

    p{
      transition:  ease-in .3s;
      cursor: pointer;
    }
    
    p:hover{
      transition:  ease-out .3s;

      background: lighten(#6deea5,5%);
      color:#343434;

      padding:0.5rem;
      border-radius: 0.5rem;
    }
}

.menuHamburger + h1{
    margin: 0 10px;
}

.menuList{
  color:#343434;
}